<nav id="nav">
	<ul>
		<li>{{#linkTo "index" id="home"}}Home{{/linkTo}}</li>
		<li>{{#linkTo "hipster.add" id="add"}}Add Hipster{{/linkTo}}</li>
		<li>{{#linkTo "hipster.find"}}Find Hipster{{/linkTo}}</li>
	</ul>
</nav>
<div id="main">
	<header><h2>Welcome to Flaming Hipster</h2></header>
	{{outlet}}
</div>
