<div>
	{{input disabledBinding="isDisabled" placeholder="First Name" valueBinding="firstName"}}
	{{input disabledBinding="isDisabled" placeholder="Last Name" valueBinding="lastName"}}
</div>
<div>
	{{view Em.Select contentBinding="accessoryOptions" multiple="multiple" optionLabelPath="content.name"
	optionValuePath="content.id" selectionBinding="accessories"}}
</div>
